<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Off The Shelf</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<nav class="navbar">
    <div class="navlogo">
        <a href="/">Off The Shelf</a>
    </div>
    <div class="navwelcome">
        Welcome {{#if user}} {{user.username}}{{else}}Guest{{/if}}
    </div>

    <div class="navlogin">
        {{#if user}}
            <a href="/auth/logout">Log Out</a>
        {{else}}
            <a href="/login">Log In</a>
            <span>or</span>
            <a href="/register">Register</a>
        {{/if}}
    </div>
</nav>


    <header></header>
        {{!-- <a href="/" class="logo">
        <h1>Off The Shelf</h1>
        </a> --}}

        {{!-- <nav>
    {{#if user}}
        <span class="email">{{user.email}}</span>
        <a href="/auth/logout">Log Out</a>
        {{else}}
        <a href="/login">Log In</a>
        <span>or</span>
        <a href="/register">Register</a>
      {{/if}}
        </nav> --}}
    <main>
        {{{body}}}

        {{!-- this is where you put the placeholder for the body --}}

        
    </main>

    {{!-- script for the google API --}}
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="js/front.js"></script>
</body>
</html>